.product-detail .left {
  margin-right: 15px;
  font-size: 20px;
  font-weight: bold;
}
.product-detail .product-img {
  width: 150px;
  height: 150px;
  border: 1px solid #002140;
  margin-right: 10px;
}
.demo-editor {
  border: 1px solid black;
  width: 800px;
  height: 200px;
  padding: 0px 20px;
}
.rdw-editor-toolbar {
  border: 1px solid ;
  width: 800px;
}
